<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dojo And Ninjas</title>
</head>
<body>
    <div class="main_1">
        <div class="container">
            <h1>New Ninja</h1>
            <form action="/create_ninja" method="POST">
                <div class="field">
                    <label for="dojo_name">Dojo: </label>
                    <select name="dojo_id" id="dojo_id">
                        <option value="choose">Please Choose A Dojo</option>
                        {% for dojo in dojos %}
                        <option value={{dojo.id}}>{{dojo.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label for="fname">First Name: </label>
                    <input type="text" name="fname">
                </div>
                <div class="field">
                    <label for="lname">Last Name: </label>
                    <input type="text" name="lname">
                </div>
                <div class="field">
                    <label for="age">Age </label>
                    <input type="text" name="age">
                </div>
                <button class="create" type="submit">Create</button>
            </form>
            <a href="/">Home</a>
        </div>
    </div>
</body>
</html>