<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='no_prescription.css') }}">
    <title>The Anti-Depressant</title>
</head>
<body background="static/images/5d71sbp004y31.jpg">
    <h1>You really do make us sad! Hopefully you'll consider joining us one day. Until then!</h1>
</body>
</html>