<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dealz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
</head>
<body>
    <div class="head">
        <h1>Put Car Up For Sale</h1>
        <div class="links1">
            <button><a href="/dashboard">Dashboard</a></button>
            <button><a href="/logout">Logout</a></button>
        </div>
    </div>
    <div class="main3">
        <h1>Put Up Car For Sale</h1>
        <div class="form1">
            {% for message in get_flashed_messages() %}
                <p style="color:red">{{message}}</p>
            {% endfor %}
            <form action="/create_car", method="POST">
                <div class="field">
                    <label for="price">Price: </label>
                    <input type="number" name="price">
                </div>
                <br>
                <div class="field">
                    <label for="model">Model: </label>
                    <input type="text" name="model">
                </div>
                <br>
                <div class="field">
                    <label for="make">Make: </label>
                    <input type="text" name="make" id="make">
                </div>
                <br>
                <div class="field">
                    <label for="year">Year: </label>
                    <input type="number" name="year" min="0" max="1000000" step="any">
                </div>
                <br>
                <div class="field">
                    <label for="description">Description: </label>
                    <textarea name="description" id="description cols="20" rows="10"></textarea>
                </div>
                <br>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</body>
</html>