<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main2">
        <h1>Welcome {{session['first_name']}}</h1>
        <div class="options">
            <h2>All Posted Recipes</h2>
            <div class="links">
                <a href="/create">Create</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
        <table>
            <tr>
                <th>Recipe Name</th>
                <th class="small">Under 30 min.</th>
                <th>Posted By</th>
                <th>Actions</th>
            </tr>
            {% for recipe in recipes %}
            <tr>
                <td>{{recipe.recipe_name}}</td>
                <td class="small">{{recipe.under_thirty}}</td>
                <td>{{recipe.user.first_name}} {{recipe.user.last_name}}</td>
                <td><a href="/view_recipe">View Recipe</a>
                    {% if recipe.user.id == session['uid']%}
                    <a href="/">Edit</a>
                    <a href="/">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>